@font-face {
    font-family: estedadRegular;
    src: url(../Font/Estedad-v5.0-Fontjo.com/woff2/Estedad-Regular.woff2);
}
@font-face {
    font-family: estedadBold;
    src: url(../Font/Estedad-v5.0-Fontjo.com/woff2/Estedad-Bold.woff2);
}
@font-face {
    font-family: estedadM;
    src: url(../Font/Estedad-v5.0-Fontjo.com/woff2/Estedad-Medium.woff2);
}
@font-face {
    font-family: estedadSB;
    src: url(../Font/Estedad-v5.0-Fontjo.com/woff2/Estedad-SemiBold.woff2);
}